body {
	background-image: url("images/doodgles.png");
}

.about {
    color: black;
}

#aboutme {
    color: black;
}

h4 {
    color: black;
}

.portfolio {
    color: black;
}

.contact {
    color: black;
}

/* contact form font color = black */
.col-form-label {
    color: black;
}

.labelcolor {
    color: black;
}

/*  footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #3d454d;
    color: black;
    text-align: center;
}

.nav-link {
	float: right;
}

.navbar-brand {
	font-size: 34px;
}
