body {
	background-image: url("https://i.imgur.com/Uoi47m1.png");
}

.about {
    color: white;
}

#aboutme {
    color: white;
}

h4 {
    color: white;
}

.portfolio {
    color: white;
}

.contact {
    color: white;
}

/* contact form font color = black */
.col-form-label {
    color: black;
}

.labelcolor {
    color: black;
}

/*  footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #c0bfbe;
    color: black;
    text-align: center;
